
.lightbox:has(.fe-block.lightbox--animated) {
	&:not(.lightbox--animated) {
		.fe-block {
			&:not(.lightbox--animated) {
				opacity: 1;
			}

			&:is(.lightbox--animated) {
				opacity: 0;
			}
		}
	}

	&:is(.lightbox--animated) {
		.fe-block:is(.lightbox--animated) {
			animation-fill-mode: forwards;

			&.lightbox__html {
				animation-duration: .45s;
				animation-name: fadeInDown;
			}

			&.lightbox__image,
			&.lightbox__video {
				animation-duration: .75s;
				animation-name: fadeIn;
			}
		}

		&:is([data-state="change"]) {
			.fe-block:is(.lightbox--animated) {
				animation-direction: reverse;
				opacity: 1;

				&.lightbox__html {
					animation-timing-function: var(--ease-out-sine);
					transform: var(--dt-fade-base);
				}

				&.lightbox__video {
					animation-timing-function: var(--ease-out-sine);
				}
			}
		}

		&:is([data-state="close"]) {
			.fe-block:is(.lightbox--animated) {
				animation-direction: reverse;
				opacity: 1;

				&.lightbox__html {
					animation-name: fadeInUp;
					animation-timing-function: var(--ease-out-sine);
					transform: var(--dt-fade-base);
				}

				&.lightbox__video {
					animation-timing-function: var(--ease-out-sine);
				}
			}
		}

		&:is([data-state="open"]) {
			.fe-block:is(.lightbox--animated) {
				animation-direction: normal;
				opacity: 0;

				&.lightbox__html {
					animation-timing-function: var(--ease-in-sine);
					transform: var(--dt-fade-down);
				}

				&.lightbox__image {
					animation-delay: .5s;
					animation-direction: reverse;
					animation-timing-function: var(--ease-out-sine);
					opacity: 1;
				}

				&.lightbox__video {
					animation-timing-function: var(--ease-in-sine);
				}
			}
		}
	}
}
