
.lightbox:is(.lightbox--animated) {
	--dt-lb-duration: .625s;
	--dt-lb-delay: .1s;

	--dt-lb-stagger: calc(2 * var(--dt-lb-delay));
	--dt-lb-timeframe: calc(var(--dt-lb-duration) + var(--dt-lb-stagger));
}


.lightbox {
	&:not(.lightbox--animated, [data-state]) {
		.lightbox__body,
		.lightbox__button,
		.lightbox__container,
		.lightbox__overlay  {
			opacity: 1;
		}

		.lightbox__body,
		.lightbox__container {
			transform: var(--dt-fade-base);
		}
	}

	&:is(.lightbox--animated) {
		.lightbox__button {
			animation-duration: var(--dt-lb-duration);
			animation-fill-mode: forwards;
			animation-timing-function: var(--ease-in-out-sine);
			opacity: 0;

			&.lightbox__close-button {
				animation-name: fadeIn;
			}

			&.lightbox__next-button {
				animation-name: fadeInLeft;
				transform-origin: right;
			}

			&.lightbox__prev-button {
				animation-name: fadeInRight;
				transform-origin: left;
			}
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			.lightbox__button {
				/* animation-delay: calc(.5 * var(--dt-lb-duration)); */
				animation-direction: reverse;

				/* &.lightbox__next-button,
				&.lightbox__prev-button {
					animation-delay: 0s;
				} */
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			.lightbox__button {
				/* animation-delay: calc(1.375 * var(--dt-lb-timeframe)); */
				animation-direction: normal;

				/* &.lightbox__next-button,
				&.lightbox__prev-button {
					animation-delay: calc(1.875 * var(--dt-lb-timeframe));
				} */

				&.lightbox__next-button {
					transform: var(--dt-fade-left);
				}

				&.lightbox__prev-button {
					transform: var(--dt-fade-right);
				}
			}
		}
	}
}

.lightbox {
	&:not(.lightbox--animated) {
		.lightbox__body,
		.lightbox__container,
		.lightbox__overlay  {
			opacity: 1;
		}

		.lightbox__body,
		.lightbox__container {
			transform: var(--dt-fade-base);
		}
	}

	/*	shared fade styles
		-----------------	*/

	&:is(.lightbox--animated) {
		.lightbox__body,
		.lightbox__container,
		.lightbox__overlay {
			animation-fill-mode: forwards;
		}

		.lightbox__body,
		.lightbox__container {
			animation-duration: var(--dt-lb-duration);
			animation-name: fadeInUp;
		}

		.lightbox__overlay {
			animation-duration: var(--dt-lb-duration);
			animation-name: fadeIn;
			animation-timing-function: var(--ease-in-out-back);
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay {
				animation-direction: reverse;
				opacity: 1;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-base);
			}

			.lightbox__body {
				animation-delay: 0s;
				animation-timing-function: var(--ease-out-quart);
			}

			.lightbox__container {
				animation-delay: var(--dt-lb-delay);
				animation-timing-function: var(--ease-out-quad);
			}

			.lightbox__overlay {
				animation-delay: var(--dt-lb-stagger);
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay {
				animation-direction: normal;
				opacity: 0;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-up);
			}

			.lightbox__body {
				animation-delay: var(--dt-lb-stagger);
				animation-timing-function: var(--ease-in-quart);
			}

			.lightbox__container {
				animation-delay: var(--dt-lb-delay);
				animation-timing-function: var(--ease-in-quad);
			}

			.lightbox__overlay {
				animation-delay: 0s;
			}
		}
	}
}
