
.lightbox {
	overflow-x: clip;
	z-index: 9999;

	&:not(.lightbox--animated) {
		/* structure */
		.lightbox__body,
		.lightbox__container,
		.lightbox__overlay,
		/* buttons */
		.lightbox__button  {
			opacity: 1;
		}

		.lightbox__body,
		.lightbox__container {
			transform: var(--dt-fade-base);
		}
	}

	&.lightbox--animated {
		--dt-lb-delay-body: .1125s;
		--dt-lb-time-btn: .2s;

		/* structure */
		.lightbox__body,
		.lightbox__container,
		.lightbox__overlay,
		/* buttons */
		.lightbox__button {
			animation-fill-mode: forwards;
		}

		.lightbox__arrow > span,
		.lightbox__button,
		.lightbox__overlay {
			animation-name: fadeIn;
		}

		.lightbox__button {
			&.lightbox__next {
				animation-name: fadeInLeft;
			}

			&.lightbox__prev {
				animation-name: fadeInRight;
			}
		}

		/* .lightbox__arrow--prev > span {
			animation-name: fadeInRight;
		}

		.lightbox__arrow--next > span {
			animation-name: fadeInLeft;
		} */

		.lightbox__body,
		.lightbox__container {
			animation-duration: .625s;
			animation-name: fadeInUp;
		}

		.lightbox__container {
			animation-delay: 0s;
		}

		.lightbox__overlay {
			animation-timing-function: var(--ease-in-out-back);
		}

		.lightbox__button  {
			animation-duration: .425s;
			animation-timing-function: var(--ease-in-out-sine);
		}

		&:not(.lightbox--active) {
			/* structure */
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay,
			/* buttons */
			.lightbox__button  {
				animation-direction: reverse;
				opacity: 1;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-base);
			}

			.lightbox__body {
				animation-delay: calc(var(--dt-lb-time-btn) + var(--dt-lb-delay-body));
				animation-timing-function: var(--ease-out-quad);
			}

			.lightbox__container {
				animation-timing-function: var(--ease-out-quart);
			}

			.lightbox__overlay {
				animation-delay: .525s;
			}

			.lightbox__button  {
				animation-delay: 0s;

				&.lightbox__next,
				&.lightbox__prev {
					animation-delay: var(--dt-lb-time-btn);
				}
			}
		}

		&.lightbox--active {
			/* structure */
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay,
			/* buttons */
			.lightbox__button {
				animation-direction: normal;
				opacity: 0;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-up);
			}

			.lightbox__body {
				animation-delay: var(--dt-lb-delay-body);
				animation-timing-function: var(--ease-in-quad);
			}

			.lightbox__container {
				animation-timing-function: var(--ease-in-quart);
			}

			.lightbox__overlay {
				animation-delay: 0s;
			}

			.lightbox__button {
				animation-delay: .65s;

				&.lightbox__next,
				&.lightbox__prev {
					animation-delay: .85s;
				}

				&.lightbox__next {
					transform: var(--dt-fade-left);
				}

				&.lightbox__prev {
					transform: var(--dt-fade-right);
				}
			}
		}
	}

	&,
	.lightbox__container,
	.lightbox__overlay {
		inset: 0;
		margin: auto;
	}

	&,
	.lightbox__overlay {
		height: 100%;
		position: fixed;
		width: 100%;
	}

	.lightbox__content,
	.lightbox__container {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.lightbox__content {
		gap: calc(.75 * var(--dt-gap)) var(--dt-gap);

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(var(--dt-col-span), 1fr);
			row-gap: calc(.625 * var(--dt-gap));
		}
	}

	.lightbox__container {
		background-color: var(--siteBackgroundColor);
		border-radius: var(--dt-border-radius);
		box-shadow: var(--dt-box-shadow);
		grid-area: 3 / 5 / 20 / 23;
		/* grid-area: 3 / 6 / 20 / 26; */
		overflow: hidden;
		padding: var(--dt-gap);
		width: 90%;
		z-index: 10;
	}

	.lightbox__overlay {
		background-color: rgba(0, 0, 0, .35);
		z-index: 5;
	}

	.lightbox__header,
	.lightbox__footer {
		display: flex;
		width: 100%;
	}

	.lightbox__header {
		text-align: right;
	}

	.lightbox__navigation {
		display: flex;
		flex: 1 100%;
		justify-content: space-between;
		padding-top: calc(.375 * var(--dt-gap));
	}

	.lightbox__arrow,
	.lightbox__button {
		align-items: center;
		display: flex;
		padding: 0;
		z-index: 5;

		&,
		& > span {
			cursor: pointer;
			position: relative;
		}

		&.lightbox__arrow--prev,
		&.lightbox__prev {
			justify-content: flex-start;
		}

		&.lightbox__arrow--next,
		&.lightbox__next {
			justify-content: flex-end;
		}

		& > span {
			display: block;
			letter-spacing: calc(1.5 * var(--dt-letter-spacing));
			z-index: 3;
		}
	}

	.lightbox__arrow {
		&:only-child {
			flex: 1 1 100%;
		}

		&.lightbox__arrow--prev > span {
			transform: var(--dt-fade-left);
		}

		&.lightbox__arrow--next > span {
			transform: var(--dt-fade-right);
		}

		& > span {
			font-size: calc(.625 * var(--base-font-size));
			line-height: 1;
			margin-top: .875rem;
			opacity: 0;
			text-transform: uppercase;
			transition: opacity .35s var(--ease-in-out-quad) .11s,
				transform .25s var(--ease-in-out-quad) .055s;

			&:hover {
				font-style: italic;
			}
		}

		&:hover > span {
			opacity: .5;
			transform: var(--dt-fade-base);
			transition: opacity .25s var(--ease-in-out-quad) .055s,
				transform .35s var(--ease-in-out-quad) .11s;
		}
	}

	.lightbox__button {
		--dt-button-dimension: calc(.75 * var(--dt-button-size));

		background: none;
		border: none;
		color: inherit;
		opacity: 0;
		width: var(--dt-button-dimension);

		&,
		& > span {
			height: var(--dt-button-dimension);
			font-size: var(--dt-button-size);
			line-height: var(--dt-button-size);
		}

		&.lightbox__next,
		&.lightbox__prev {
			--dt-button-size: 2.5rem;

			& > span {
				opacity: .875;
			}
		}

		&.lightbox__close {
			position: absolute;
			right: .5rem;
			top: .375rem;

			& > span {
				opacity: .75;
			}
		}

		& > span {
			background-color: var(--siteBackgroundColor);
			transition: opacity var(--dt-lb-time-btn) var(--ease-in-out-quad);
		}

		&:hover > span {
			opacity: 1;
		}
	}

	.fe-block {
		&.lightbox__html {
			letter-spacing: var(--dt-letter-spacing);

			@media screen and (min-width: 768px) {
				&:nth-last-child(2) {
					grid-column: 1 / span 2;
				}

				&:nth-last-child(1) {
					/* background-color: var(--menuOverlayBackgroundColor); */
					background-color: rgba(0, 0, 0, .35);
					border-radius: var(--dt-border-radius);
					grid-column: 3 / span 1;
					padding: calc(.25 * var(--dt-gap)) calc(.5 * var(--dt-gap));
				}
			}

			p {
				margin-block: .625rem;
				white-space: normal !important;

				&:not(:has(> strong)) {
					font-size: calc(.75 * var(--base-font-size));
					font-weight: 100;
				}

				&:has(> strong) {
					margin-block: .75rem;
					font-size: calc(.89 * var(--base-font-size));
				}

				&:first-child,
				&:only-child {
					margin-top: 0;
				}

				&:last-child,
				&:only-child {
					margin-bottom: 0;
				}

				&:only-child {
					line-height: 1.75;
				}

				strong {
					display: block;
				}
			}
		}


		&.lightbox__image,
		&.lightbox__video {
			@media screen and (min-width: 768px) {
				grid-area: 1 / 1 / var(--dt-col-span) / 4;
			}
		}

		&.lightbox__image {
			&:has(+ .lightbox__video) {
				animation: fadeIn 1.75s var(--ease-out-sine) 1s reverse forwards;
				opacity: 1;
				pointer-events: none;
				position: absolute;
				width: 100%;
				z-index: 20;

				& + .lightbox__video {
					animation: fadeIn 1.75s var(--ease-in-sine) .5s forwards;
					opacity: 0;
					position: relative;
					z-index: 10;
				}
			}

			.fluid-image-container {
				min-height: var(--dt-media-size);
			}
		}

		&.lightbox__video {
			/* animation: fadeIn 1.75s var(--ease-in-sine) .5s forwards; */
			overflow-y: hidden;

			.embed-block-wrapper,
			.intrinsic,
			.sqs-video-wrapper {
				max-height: var(--dt-media-size);
			}
		}
	}

	.sqs-block {
		padding: 0;
	}
}
