
.content {
	.fe-block {
		&.header-block {
			pointer-events: none;
			opacity: .9;
			user-select: none;

			.portfolio-block__header {
				container-type: size;
				display: flex;
				flex-direction: column;

				& > span {
					animation: fadeInDown 1.5s var(--ease-out-sine) forwards;
					opacity: 0;
					transform: var(--dt-fade-down);

					&:first-child {
						font-size: 110%;
					}

					&:last-child {
						font-size: 95%;
						font-weight: 100;
						letter-spacing: var(--dt-letter-spacing);
					}
				}
			}
		}

		&.portfolio-block {
			animation-fill-mode: forwards;
			animation-name: fadeIn;
			animation-timing-function: var(--ease-in-sine);
			box-shadow: var(--dt-box-shadow);

			&:hover .portfolio-block__details {
				transition-delay: 0s;

				&,
				& > * {
					opacity: 1;
				}

				& > * {
					transition-delay: .125s;
				}
			}
		}
	}

	.portfolio-block__details {
		background-color: rgba(0, 0, 0, .45);
		bottom: 0;
		padding: .15rem .25rem 0;
		pointer-events: none;
		position: absolute;
		text-align: center;
		transition-delay: .125s;
		width: calc(100% - (2 * .25rem));
		z-index: 25;

		&,
		& > * {
			opacity: 0;
			transition: opacity .45s var(--ease-in-out-quad);
		}

		& > * {
			display: block;
			font-size: calc(.675 * var(--base-font-size));
			font-weight: 500;
			letter-spacing: var(--dt-letter-spacing);
			transition-delay: 0s;
		}
	}

	/* Darken image on hover */
	.portfolio-block__image {
		filter: brightness(80%);
		transition: filter .2s ease;

		&:hover {
			filter: brightness(100%);
		}
	}
}
