
.lightbox {
	/* .fe-block {
		&.lightbox__temp {
			opacity: 0;
		}
	} */

	&:is([data-state="change"]) .fe-block {
		&.lightbox__html,
		&.lightbox__video {
			opacity: 1;
		}

		&.lightbox__html {
			transform: var(--dt-fade-base);

			&:nth-last-child(1) .sqs-block::after {
				opacity: 1;
			}
		}

		&.lightbox__image {
			opacity: 0;
		}

		&.lightbox__video {
			z-index: 20;
		}
	}

	&:is([data-state="close"]) .fe-block {
		opacity: 1;

		&.lightbox__html {
			transform: var(--dt-fade-base);

			&:nth-last-child(1) .sqs-block::after {
				opacity: 0;
			}
		}

		&.lightbox__image {
			opacity: 0;
		}
	}

	&:is([data-state="open"]) .fe-block {
		&.lightbox__html {
			transform: var(--dt-fade-down);

			&:nth-last-child(1) .sqs-block::after {
				opacity: 0;
			}
		}

		&.lightbox__image {
			opacity: 1;
		}
	}
}

.lightbox:is(.lightbox--animated) {
	.block--animated {
		&::before,
		&::after {
			animation-delay: var(--animationDelay) !important;
			animation-duration: var(--animationDuration) !important;
			animation-play-state: var(--animationPlayState) !important;
		}
	}

	.fe-block {
		--dt-lb-bl-delay: calc(.5 * var(--dt-lb-duration));

		&,
		&.lightbox__html:nth-last-child(1) .sqs-block::after {
			animation-fill-mode: forwards;
			animation-play-state: paused;
		}

		&.lightbox__html:nth-last-child(1) .sqs-block::after,
		&.lightbox__image,
		&.lightbox__video {
			animation-duration: var(--dt-lb-duration);
			animation-name: fadeIn;
		}

		&.lightbox__html {
			animation-duration: calc(.75 * var(--dt-lb-duration));
			animation-name: fadeInDown;
		}

		&.lightbox__image {
			animation-direction: normal;
		}
	}

	&:is([data-state="change"]) {
		.fe-block {
			&,
			&.lightbox__html:nth-last-child(1) .sqs-block::after {
				animation-direction: reverse;
				animation-timing-function: var(--ease-in-out-sine);
			}

			&.lightbox__image,
			&.lightbox__video {
				animation-duration: calc(1.25 * var(--dt-lb-duration));
			}

			&.lightbox__html {
				animation-duration: calc(.625 * var(--dt-lb-duration));
				animation-name: fadeInDown;
			}

			&.lightbox__temp {
				animation-direction: normal;
			}

			&.lightbox__video {
				animation-delay: var(--dt-lb-bl-delay);
			}
		}
	}

	&:is([data-state="close"]) {
		.fe-block {
			&,
			&.lightbox__html:nth-last-child(1) .sqs-block::after {
				animation-direction: reverse;
			}

			&.lightbox__html:nth-last-child(1) .sqs-block::after,
			&.lightbox__html,
			&.lightbox__video {
				animation-timing-function: var(--ease-out-sine);
			}

			&.lightbox__html {
				animation-name: fadeInUp;
			}
		}
	}

	&:is([data-state="open"]) {
		.fe-block {
			&.lightbox__html:nth-last-child(1) .sqs-block::after,
			&.lightbox__html,
			&.lightbox__video {
				animation-timing-function: var(--ease-in-sine);
			}

			&.lightbox__image {
				animation-delay: var(--dt-lb-bl-delay);
				animation-direction: reverse;
				animation-timing-function: var(--ease-out-sine);
			}

			&.lightbox__temp {
				animation-direction: normal;
			}
		}
	}
}
