
.lightbox .fe-block {
	--dt-lb-html-height: 6.5rem;
	--dt-lb-media-height: 28rem;

	place-content: center;
	position: relative;

	&.lightbox__html {
		grid-column: 1 / span var(--dt-col-span);
		letter-spacing: var(--dt-letter-spacing);
		min-height: calc(var(--dt-lb-html-height) - 1rem);
		z-index: 2;

		&,
		.sqs-block {
			height: 100%;
			max-height: var(--dt-lb-html-height);
		}

		&:nth-last-child(1) {
			p:not(:has(> strong)) {
				line-height: 2;
				opacity: .85;
			}

			.sqs-block {
				margin-bottom: 100%;
				max-height: fit-content;
				padding: calc(.4 * var(--dt-gap)) calc(.6 * var(--dt-gap));

				&::after {
					background-color: rgba(0, 0, 0, .35);
					border-radius: var(--dt-border-radius);
					content: '';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 0;
				}
			}

			.sqs-block-content {
				position: relative;
				z-index: 1;
			}
		}

		@media screen and (min-width: 768px) {
			&:nth-last-child(2) {
				grid-column: 1 / span calc(var(--dt-col-span) - 1);
			}

			&:nth-last-child(1) {
				grid-column: var(--dt-col-span) / span 1;
			}
		}

		.sqs-block {
			min-height: min-content;
		}

		p {
			line-height: 1.8;
			margin-block: .625rem;
			white-space: normal !important;

			&:not(:has(> strong)) {
				font-size: calc(.75 * var(--base-font-size));
				font-weight: 100;
			}

			&:has(> strong) {
				font-size: calc(.89 * var(--base-font-size));
				margin-block: .75rem;
			}

			&:first-child,
			&:only-child {
				margin-top: 0;
			}

			&:last-child,
			&:only-child {
				margin-bottom: 0;
			}

			strong {
				display: block;
			}
		}
	}


	&.lightbox__image,
	&.lightbox__video {
		background-color: rgba(0, 0, 0, .25);
		border-radius: var(--dt-border-radius);
		overflow-y: hidden;
		width: 100%;

		@media screen and (min-width: 450px) {
			grid-area: 1 / 1 / var(--dt-col-span) / calc(1 + var(--dt-col-span));
		}

		&,
		.sqs-block {
			height: 100%;
			max-height: var(--dt-lb-media-height);
			overflow: hidden;
		}

		:is([data-disabled="true"]) & {
			pointer-events: none;
			user-select: none;
		}
	}

	&.lightbox__image {
		z-index: 15;

		&:has(+ .lightbox__video) {
			pointer-events: none;
			position: absolute;
			user-select: none;
		}

		.fluid-image-container {
			min-height: var(--dt-media-size);
		}
	}

	&.lightbox__video {
		z-index: 10;

		.sqs-block {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.sqs-block-content {
			flex: 1;
		}

		.lightbox__video-wrapper {
			background-color: var(--dt-lb-background-color);
			min-width: auto;
			overflow: hidden;

			iframe,
			video {
				border-radius: inherit;
				height: 100%;
				width: 100%;
			}
		}
	}

	&.lightbox__temp {
		z-index: 5;
	}

	.sqs-block {
		padding: 0;
	}
}
