
.lightbox .fe-block {
	--dt-lb-html-height: 6.5rem;
	--dt-lb-media-height: 18rem;

	@media screen and (min-height: 900px) {
		--dt-lb-media-height: 25rem;
	}

	place-content: center;
	position: relative;

	&.lightbox__html {
		z-index: 2;

		@media screen and (min-width: 768px) {
			min-height: calc(var(--dt-lb-html-height) - 1rem);

			&,
			.sqs-block {
				height: 100%;
				max-height: var(--dt-lb-html-height);
			}
		}

		.sqs-block {
			min-height: min-content;
		}

		p {
			letter-spacing: var(--dt-letter-spacing);
			white-space: normal !important;

			&:not(:has([data-title])) {
				font-size: calc(.75 * var(--base-font-size));
				font-weight: 100;
				line-height: calc(1.25 * var(--body-font-line-height));
				margin-block: .625rem;
				opacity: .9;
			}

			&:has([data-title]) {
				font-family: var(--heading-font-font-family);
				font-size: calc(.89 * var(--base-font-size));
				font-style: var(--heading-font-font-style);
				font-weight: var(--heading-font-font-weight);
				line-height: var(--heading-font-line-height);
				margin-block: .75rem;
			}

			&:first-child,
			&:only-child {
				margin-top: 0;
			}

			&:last-child,
			&:only-child {
				margin-bottom: 0;
			}
		}

		&:nth-last-child(1) {
			&:not(:has([data-title])) p {
				opacity: .8;

				@media screen and (min-width: 768px) {
					line-height: calc(1.5 * var(--body-font-line-height));
				}
			}

			.sqs-block {
				padding: calc(.4 * var(--dt-gap)) calc(.6 * var(--dt-gap));

				@media screen and (min-width: 768px) and (min-height: 900px) {
					margin-bottom: 100%;
					max-height: fit-content;
				}

				&::after {
					background-color: rgba(0, 0, 0, .4);
					border-radius: var(--dt-border-radius);
					content: '';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}
			}

			.sqs-block-content {
				position: relative;
			}
		}
	}


	&.lightbox__image,
	&.lightbox__video {
		background-color: rgba(0, 0, 0, .25);
		border-radius: var(--dt-border-radius);
		height: fit-content;
		overflow-y: hidden;
		width: 100%;

		:is([data-disabled="true"]) & {
			pointer-events: none;
			user-select: none;
		}

		@media screen and (min-width: 768px) {
			height: var(--dt-lb-media-height);

			.sqs-block {
				height: 100%;
				max-height: var(--dt-lb-media-height);
				overflow: hidden;
			}
		}
	}

	&.lightbox__image {
		z-index: 15;

		&:has(+ .lightbox__video) {
			pointer-events: none;
			position: absolute;
			user-select: none;
		}

		.fluid-image-container {
			min-height: var(--dt-media-size);
		}
	}

	&.lightbox__video {
		z-index: 10;

		.sqs-block {
			align-items: center;
			display: flex;
			justify-content: center;

			&::before {
				background-color: var(--dt-lb-background-color);
				border-radius: var(--dt-border-radius);
				content: '';
				display: block;
				inset: 0;
				opacity: 1;
				pointer-events: none;
				position: absolute;
				transition: var(--dt-transition-base);
				transition-property: filter, opacity;
				user-select: none;
				width: inherit;
				z-index: -1;
			}

			&:focus-within::before {
				filter: contrast(1.025);
				opacity: .25;
				transition: var(--dt-transition-hover);
			}
		}

		.sqs-block-content {
			flex: 1 100%;
		}

		.lightbox__video-wrapper {
			min-width: auto;
			overflow: hidden;
		}

		iframe,
		video {
			border-radius: var(--dt-border-radius);
			height: 100%;
			position: relative;
			width: 100%;

			&:focus,
			&:focus-visible {
				outline: none;
			}
		}
	}

	.sqs-block {
		padding: 0;
	}
}


/*	grid
	---------------- */

.lightbox .fe-block {
	&.lightbox__image,
	&.lightbox__video {
		@media screen and (min-width: 450px) {
			grid-area: 1 / 1 / var(--dt-col-span) / calc(1 + var(--dt-col-span));
		}
	}

	&.lightbox__html {
		--dt-col-span-sm: round(down, .5 * var(--dt-col-span));
		--dt-col-span-big: round(up, .5 * var(--dt-col-span));

		grid-column: 1 / span var(--dt-col-span);

		@media screen and (min-width: 768px) {
			&:nth-last-child(2) {
				grid-column: 1 / span var(--dt-col-span-big);
			}

			&:nth-last-child(1) {
				grid-column: calc(1 + var(--dt-col-span-big)) / span var(--dt-col-span-sm);
			}
		}
	}
}
