
.lightbox {
	&:is([data-disabled="false"]) .fe-block {
		&.lightbox__image {
			animation-name: none;
			opacity: 0;
			pointer-events: none;
			user-select: none;
		}
	}

	&:is([data-disabled="true"]) {
		&:is([data-animate="out"], [data-state="close"]) .fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				opacity: 1;
			}

			&.lightbox__html {
				transform: var(--dt-fade-base);
			}

			&.lightbox__image {
				opacity: 0;
			}
		}

		&:is([data-animate="in"], [data-state="open"]) .fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				opacity: 0;
			}

			&.lightbox__html {
				transform: var(--dt-fade-down);
			}

			&.lightbox__image {
				opacity: 1;
			}
		}

		&:is([data-state="swap"]) .fe-block {
			&.lightbox__video {
				z-index: 20;
			}
		}
	}
}

.lightbox:is([data-animate]) {
	.fe-block {
		&,
		.block--animated::before,
		.block--animated::after {
			animation-fill-mode: forwards;
			animation-play-state: paused;
		}

		&.lightbox__image,
		&.lightbox__video {
			animation-duration: var(--dt-lb-duration);
			animation-name: fadeIn;
		}

		&.lightbox__html {
			animation-duration: calc(.75 * var(--dt-lb-duration));
			animation-name: fadeInDown;
		}

		.block--animated {
			&::before,
			&::after {
				animation-duration: calc(.5 * var(--dt-lb-duration));
				animation-name: fadeIn;
			}

			&[style] {
				&::before {
					animation-delay: var(--animationDelay-before);
					animation-duration: var(--animationDuration-before);
					animation-play-state: var(--animationPlayState-before);
				}

				&::after {
					animation-delay: var(--animationDelay-after);
					animation-duration: var(--animationDuration-after);
					animation-play-state: var(--animationPlayState-after);
				}
			}
		}
	}

	&:is([data-state="close"]) {
		.fe-block {
			&,
			.block--animated::before,
			.block--animated::after {
				animation-direction: reverse;
			}

			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				animation-timing-function: var(--ease-out-sine);
			}

			&.lightbox__html {
				animation-name: fadeInUp;
			}

			&.lightbox__image {
				animation-name: none;
			}
		}
	}

	&:is([data-state="open"]) {
		.fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				animation-timing-function: var(--ease-in-sine);
			}

			&.lightbox__image {
				animation-delay: var(--dt-lb-bl-delay);
				animation-direction: reverse;
				animation-timing-function: var(--ease-out-sine);
			}
		}
	}

	&:is([data-state="swap"]) {
		.fe-block {
			&,
			.block--animated::before,
			.block--animated::after {
				animation-timing-function: var(--ease-in-out-sine);
			}
		}

		&:is([data-animate="out"]) {
			.fe-block {
				&,
				.block--animated::before,
				.block--animated::after {
					animation-direction: reverse;
				}

				&.lightbox__image {
					animation-direction: normal;
				}
			}
		}
	}
}
