
.lightbox {
	&:is([data-disabled="false"]) .fe-block {
		&.lightbox__image {
			animation-name: none;
			opacity: 0;
		}
	}

	&:is([data-disabled="true"]) {
		&:is([data-state="change"], [data-state="close"]) .fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				opacity: 1;
			}

			&.lightbox__html {
				transform: var(--dt-fade-base);
			}

			&.lightbox__image {
				opacity: 0;
			}
		}

		&:is([data-state="change"]) .fe-block {
			&.lightbox__video {
				z-index: 20;
			}
		}

		&:is([data-state="open"]) .fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				opacity: 0;
			}

			&.lightbox__html {
				transform: var(--dt-fade-down);
			}

			&.lightbox__image {
				opacity: 1;
			}
		}
	}
}

.lightbox:is(.lightbox--animated) {
	&[data-disabled="true"] {
		.fe-block {
			&,
			.block--animated::before,
			.block--animated::after {
				animation-fill-mode: forwards;
			}
		}
	}

	.fe-block {
		--dt-lb-bl-delay: calc(.5 * var(--dt-lb-duration));

		&,
		.block--animated::before,
		.block--animated::after {
			animation-play-state: paused;
		}

		&.lightbox__image,
		&.lightbox__video {
			animation-duration: var(--dt-lb-duration);
			animation-name: fadeIn;
		}

		&.lightbox__html {
			animation-duration: calc(.75 * var(--dt-lb-duration));
			animation-name: fadeInDown;
		}

		&.lightbox__image {
			animation-direction: normal;
		}

		.block--animated {
			&::before,
			&::after {
				animation-duration: var(--dt-lb-bl-delay);
				animation-name: fadeIn;
			}

			&[style] {
				&::before {
					animation-delay: var(--animationDelay-before) !important;
					animation-duration: var(--animationDuration-before) !important;
					animation-play-state: var(--animationPlayState-before) !important;
				}

				&::after {
					animation-delay: var(--animationDelay-after) !important;
					animation-duration: var(--animationDuration-after) !important;
					animation-play-state: var(--animationPlayState-after) !important;
				}
			}
		}
	}

	&:is([data-state="change"]) {
		.fe-block {
			&,
			.block--animated::before,
			.block--animated::after {
				animation-direction: reverse;
				animation-timing-function: var(--ease-in-out-sine);
			}

			&.lightbox__html {
				animation-duration: calc(.625 * var(--dt-lb-duration));
			}

			&.lightbox__image {
				animation-direction: normal;
			}

			&.lightbox__video {
				animation-delay: var(--dt-lb-duration);
			}
		}
	}

	&:is([data-state="close"]) {
		.fe-block {
			&,
			.block--animated::before,
			.block--animated::after {
				animation-direction: reverse;
			}

			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				animation-timing-function: var(--ease-out-sine);
			}

			&.lightbox__html {
				animation-name: fadeInUp;
			}

			&.lightbox__image {
				animation-name: none;
			}
		}
	}

	&:is([data-state="open"]) {
		.fe-block {
			&.lightbox__html,
			&.lightbox__video,
			.block--animated::before,
			.block--animated::after {
				animation-timing-function: var(--ease-in-sine);
			}

			&.lightbox__image {
				animation-delay: var(--dt-lb-bl-delay);
				animation-direction: reverse;
				animation-timing-function: var(--ease-out-sine);
			}

			&.lightbox__temp {
				animation-direction: normal;
			}
		}
	}
}
