
.lightbox {
	--dt-lb-background-color: var(--siteBackgroundColor);

	background-color: transparent;
	border: 0;
	color: var(--paragraphMediumColor);
	font-family: var(--body-font-font-family);
	font-style: var(--body-font-font-style);
	font-weight: var(--body-font-font-weight);
	height: 100%;
	line-height: var(--body-font-line-height);
	margin: 0;
	max-height: none;
	max-width: none;
	opacity: 0;

	&,
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	&:focus,
	&:focus-visible {
		outline: none;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, .75);
		opacity: 0;
		z-index: 0;
	}

	&:is([data-state]) {
		&,
		&::backdrop {
			opacity: 1;
		}
	}

	&:is([data-disabled="true"]) {
		&::backdrop,
		.lightbox__exit,
		.lightbox__footer,
		.lightbox__header {
			pointer-events: none;
			user-select: none;
		}
	}

	&,
	.lightbox__container {
		display: flex;
		flex-direction: column;
		gap: var(--dt-gap);
		inset: 0;
		overflow: clip;
		padding: var(--dt-gap);
		place-self: center;
		width: 100%;
	}

	.lightbox__container {
		background-color: var(--dt-lb-background-color);
		border-radius: var(--dt-border-radius);
		box-shadow: var(--dt-box-shadow);
		margin: auto;
		position: relative;
		z-index: 100;

		@media screen and (min-width: 450px) {
			max-width: clamp(20rem, 80vw, 40rem);
		}

		@media screen and (min-width: 768px) {
			max-width: clamp(30rem, 80vw, 50rem);
		}

		&:has(.lightbox__content:empty) {
			row-gap: 0;
		}
	}

	.lightbox__exit {
        align-items: center;
        display: flex;
        height: 100%;
		inset-inline: 0;
		margin-inline: auto;
		max-height: calc(.625 * var(--dt-button-size));
		position: relative;
		width: fit-content;
		z-index: 200;

		@media screen and (min-width: 768px) {
			bottom: var(--dt-button-size);
			position: absolute;
		}
	}

	.lightbox__body,
	.lightbox__content,
	.lightbox__footer {
		display: flex;
		flex-direction: column;
		gap: var(--dt-gap);
		max-height: fit-content;
		position: relative;
		width: 100%;
	}

	.lightbox__body {
		flex: 1 1 100%;
		overflow: clip auto;

		@media screen and (min-width: 768px) {
			flex: none;
			overflow-y: clip;
		}

		@media screen and (max-height: 900px) {
			overflow-y: auto;
		}
	}

	.lightbox__content {
		container-type: inline-size;
		height: 100%;

		@media screen and (min-width: 450px) {
			display: grid;
			grid-template-columns: repeat(var(--dt-col-span), 1fr);
		}
	}

	.lightbox__footer {
		flex: 1 0 fit-content;
		height: fit-content;
		row-gap: calc(.375 * var(--dt-gap));

		@media screen and (min-width: 768px) {
			flex: none;
		}
	}

	.lightbox__error {
		color: #F44336;
		font-size: calc(.625 * var(--base-font-size));
		font-style: italic;
		letter-spacing: calc(1.25 * var(--dt-letter-spacing));
		text-align: center;
	}

	.lightbox__icon {
		align-items: center;
		background: none;
		border: none;
		display: flex;
		font-family: sans-serif;
		font-size: var(--dt-button-size);
		font-weight: 400;
		justify-content: center;
		max-height: fit-content;
		max-width: fit-content;
		padding: 0;

		&,
		& > span {
			color: inherit;
			line-height: 1;
			position: relative;
			transform-origin: center;
		}

		& > span {
			display: block;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			opacity: .75;
			transition: var(--dt-transition-base);
		}

		&:is([data-icon*="close"]) {
			font-weight: 600;
		}

		&::before,
		&::after {
			content: none;
		}

		&:focus,
		&:focus-visible,
		&:hover {
			& > span {
				opacity: 1;
				transform: scale(1.25);
				transition: var(--dt-transition-hover);
			}
		}

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}

	[disabled] {
		pointer-events: none;
		user-select: none;
	}
}
