
.lightbox:is(.lightbox--animated) {
	--dt-lb-duration: .6s;
	--dt-lb-delay: .075s;
	--dt-lb-stagger: calc(1.375 * var(--dt-lb-delay));

	--dt-lb-delay-start: calc(var(--dt-lb-duration) - var(--dt-lb-delay));
	--dt-lb-stagger-start: calc(var(--dt-lb-duration) - var(--dt-lb-stagger));
}

.lightbox {
	.lightbox__body,
	.lightbox__container,
	.lightbox__overlay {
		opacity: 1;
	}

	&:not(.lightbox--animated) {
		.lightbox__body,
		.lightbox__container {
			transform: var(--dt-fade-base);
		}
	}

	/*	shared fade styles
		-----------------	*/

	&:is(.lightbox--animated) {
		.lightbox__body,
		.lightbox__container,
		.lightbox__overlay {
			animation-duration: var(--dt-lb-duration);
			animation-fill-mode: forwards;
			animation-play-state: paused;
		}

		.lightbox__body,
		.lightbox__container {
			animation-name: fadeInUp;
		}

		.lightbox__body {
			animation-delay: var(--dt-lb-delay-start);
		}

		.lightbox__overlay {
			animation-delay: 0s;
			animation-name: fadeIn;
			animation-timing-function: var(--ease-in-out-back);
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay {
				animation-direction: reverse;
				opacity: 1;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-base);
			}

			.lightbox__body {
				animation-timing-function: var(--ease-in-quad);
			}

			.lightbox__container {
				animation-delay: 0;
				animation-timing-function: var(--ease-in-quart);
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay {
				animation-direction: normal;
				opacity: 0;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-up);
			}

			.lightbox__body {
				animation-timing-function: var(--ease-in-quart);
			}

			.lightbox__container {
				animation-delay: var(--dt-lb-stagger-start);
				animation-timing-function: var(--ease-in-quad);
			}
		}
	}
}


.lightbox {
	&:not(.lightbox--animated) {
		.lightbox__icon {
			&[data-icon*="next"] {
				transform: var(--dt-fade-left);
			}

			&[data-icon*="prev"] {
				transform: var(--dt-fade-right);
			}
		}
	}

	&:is(.lightbox--animated) {
		.lightbox__icon {
			animation-duration: var(--dt-lb-duration);
			animation-fill-mode: forwards;
			animation-play-state: paused;
			animation-timing-function: var(--ease-in-out-sine);

			&[data-icon="close"] {
				animation-name: fadeIn;
			}

			&[data-icon*="next"] {
				animation-name: fadeInLeft;
			}

			&[data-icon*="prev"] {
				animation-name: fadeInRight;
			}
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			.lightbox__icon {
				animation-direction: reverse;
				opacity: 1;

				&[data-direction] {
					transform: var(--dt-fade-base);
				}
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			.lightbox__icon {
				animation-direction: normal;
				opacity: 0;

				&[data-icon*="next"] {
					transform: var(--dt-fade-left);
				}

				&[data-icon*="prev"] {
					transform: var(--dt-fade-right);
				}
			}
		}
	}
}
