
.lightbox {
	opacity: 0;
	overflow-x: clip;
	z-index: 9999;

	&:is([data-state]) {
		opacity: 1;
	}

	&:is([data-disabled="true"]) {
		.lightbox__header,
		.lightbox__footer,
		.lightbox__overlay {
			pointer-events: none;
			user-select: none;
		}
	}

	&,
	.lightbox__body,
	.lightbox__header,
	.lightbox__footer,
	.lightbox__overlay {
		display: flex;
		width: 100%;
	}

	&,
	.lightbox__container,
	.lightbox__overlay {
		inset: 0;
		margin: auto;
	}

	&,
	.lightbox__overlay {
		height: 100%;
		position: fixed;
	}

	.lightbox__container,
	.lightbox__content {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.lightbox__container {
		background-color: var(--siteBackgroundColor);
		border-radius: var(--dt-border-radius);
		box-shadow: var(--dt-box-shadow);
		overflow: hidden;
		padding: var(--dt-gap);
		place-self: center;
		width: clamp(35rem, 70vw, 50rem);
		z-index: 100;
	}

	.lightbox__content {
		container-type: inline-size;
		gap: calc(.75 * var(--dt-gap)) var(--dt-gap);
		height: 100%;
		width: 100%;

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(var(--dt-col-span), 1fr);
			row-gap: calc(.625 * var(--dt-gap));
		}
	}

	.lightbox__header {
		text-align: right;
	}

	.lightbox__overlay {
		background-color: rgba(0, 0, 0, .35);
		z-index: 50;
	}
}
