
.lightbox {
	--dt-lb-background-color: var(--siteBackgroundColor);

	opacity: 0;
	overflow-x: clip;
	z-index: 9999;

	&:is([data-state]) {
		opacity: 1;
	}

	&:is([data-disabled="true"]) {
		.lightbox__header,
		.lightbox__footer,
		.lightbox__overlay {
			pointer-events: none;
			user-select: none;
		}
	}

	&,
	.lightbox__body,
	.lightbox__header,
	.lightbox__footer,
	.lightbox__overlay {
		display: flex;
		width: 100%;
	}

	&,
	.lightbox__container,
	.lightbox__overlay {
		inset: 0;
		margin: auto;
	}

	&,
	.lightbox__overlay {
		height: 100%;
		position: fixed;
	}

	.lightbox__container,
	.lightbox__content,
	.lightbox__footer {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.lightbox__content,
	.lightbox__footer {
		column-gap: var(--dt-gap);
		height: 100%;
		width: 100%;
	}

	.lightbox__container {
		background-color: var(--dt-lb-background-color);
		border-radius: var(--dt-border-radius);
		box-shadow: var(--dt-box-shadow);
		overflow: hidden;
		padding: var(--dt-gap);
		place-self: center;
		width: clamp(35rem, 70vw, 50rem);
		z-index: 100;
	}

	.lightbox__content {
		container-type: inline-size;
		row-gap: calc(.75 * var(--dt-gap));

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(var(--dt-col-span), 1fr);
		}
	}

	.lightbox__footer {
		row-gap: calc(.375 * var(--dt-gap));
	}

	.lightbox__header {
		text-align: right;
	}

	.lightbox__overlay {
		background-color: rgba(0, 0, 0, .5);
		z-index: 50;
	}

	.lightbox__error {
		color: #F44336;
		font-size: calc(.625 * var(--base-font-size));
		font-style: italic;
		letter-spacing: calc(1.25 * var(--dt-letter-spacing));
		text-align: center;
    }
}
