
.lightbox:is([data-animate]) {
	--dt-lb-duration: .6s;
	--dt-lb-delay: .075s;
	--dt-lb-stagger: calc(1.375 * var(--dt-lb-delay));

	--dt-lb-delay-start: calc(var(--dt-lb-duration) - var(--dt-lb-delay));
	--dt-lb-stagger-start: calc(var(--dt-lb-duration) - var(--dt-lb-stagger));
}

.lightbox {
	&:is([data-animate]) {
		&::backdrop,
		.lightbox__body,
		.lightbox__container {
			animation-duration: var(--dt-lb-duration);
			animation-fill-mode: forwards;
			animation-play-state: paused;
		}

		.lightbox__body,
		.lightbox__container {
			animation-name: fadeInUp;
		}

		&:not([open])::backdrop {
			animation-name: none;
			opacity: 0;
		}

		&:is([open])::backdrop {
			animation-name: fadeIn;
			animation-timing-function: var(--ease-in-out-back);
		}

		&:is([data-state="change"]) {
			&:is([open])::backdrop,
			.lightbox__body,
			.lightbox__container,
			.lightbox__overlay {
				animation-name: none;
			}
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			&::backdrop,
			.lightbox__body,
			.lightbox__container {
				animation-direction: reverse;
				opacity: 1;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-base);
			}

			.lightbox__body {
				animation-delay: var(--dt-lb-delay-start);
				animation-timing-function: var(--ease-in-quad);
			}

			.lightbox__container {
				animation-delay: 0s;
				animation-timing-function: var(--ease-in-quart);
			}

			&:is([data-animate="overlay"])::backdrop {
				animation-delay: var(--dt-lb-stagger);
				animation-play-state: running;

				@starting-style {
					opacity: 1;
				}
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			&::backdrop,
			.lightbox__body,
			.lightbox__container {
				animation-direction: normal;
				opacity: 0;
			}

			.lightbox__body,
			.lightbox__container {
				transform: var(--dt-fade-up);
			}

			.lightbox__body {
				animation-delay: var(--dt-lb-delay-start);
				animation-timing-function: var(--ease-in-quart);
			}

			.lightbox__container {
				animation-delay: var(--dt-lb-stagger-start);
				animation-timing-function: var(--ease-in-quad);
			}

			&::backdrop {
				animation-play-state: running;

				@starting-style {
					opacity: 0;
				}
			}
		}
	}
}


.lightbox {
	&:is([data-animate]) {
		.lightbox__icon {
			animation-duration: var(--dt-lb-duration);
			animation-fill-mode: forwards;
			animation-play-state: paused;
			animation-timing-function: var(--ease-in-out-sine);

			&[data-icon="close"] {
				animation-name: fadeInUp;
			}

			&[data-icon*="next"] {
				animation-name: fadeInLeft;
			}

			&[data-icon*="prev"] {
				animation-name: fadeInRight;
			}
		}

		&:is([data-state="change"]) {
			.lightbox__icon {
				animation-name: none;

				& > span {
					opacity: .5;
					transition-delay: .35s, 0s;
				}
			}
		}

		/*	fade out
			-----------------	*/

		&:is([data-state="close"]) {
			.lightbox__icon {
				animation-direction: reverse;
				opacity: 1;
				transform: var(--dt-fade-base);
			}
		}

		/*	fade in
			-----------------	*/

		&:is([data-state="open"]) {
			.lightbox__icon {
				animation-direction: normal;
				opacity: 0;

				&[data-icon="close"] {
					transform: var(--dt-fade-up);
				}

				&[data-icon*="next"] {
					transform: var(--dt-fade-left);
				}

				&[data-icon*="prev"] {
					transform: var(--dt-fade-right);
				}
			}
		}
	}
}
