
.lightbox {
	--dt-lb-background-color: var(--siteBackgroundColor);

	background-color: transparent;
	border: 0;
	color: var(--paragraphMediumColor);
	font-family: var(--body-font-font-family);
	font-style: var(--body-font-font-style);
	font-weight: var(--body-font-font-weight);
	height: 100%;
	line-height: var(--body-font-line-height);
	opacity: 0;
	padding: 0;
	position: fixed;
	z-index: 9999;

	&:focus,
	&:focus-visible {
		outline: none;
	}

	&:is([data-state]) {
		opacity: 1;
	}

	&:is([data-disabled="true"]) {
		&::backdrop,
		.lightbox__exit,
		.lightbox__footer,
		.lightbox__header {
			pointer-events: none;
			user-select: none;
		}
	}

	&,
	.lightbox__body,
	.lightbox__footer,
	.lightbox__header {
		display: flex;
		width: 100%;
	}

	&,
	.lightbox__container {
		inset: 0;
		margin: auto;
		overflow: clip;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, .75);
		height: 100%;
		z-index: 0;
	}

	.lightbox__container,
	.lightbox__content,
	.lightbox__footer {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.lightbox__container {
		background-color: var(--dt-lb-background-color);
		border-radius: var(--dt-border-radius);
		box-shadow: var(--dt-box-shadow);
		padding: var(--dt-gap);
		place-self: center;
		width: clamp(35rem, 70vw, 50rem);
		z-index: 100;
	}

	.lightbox__content {
		container-type: inline-size;
		gap: var(--dt-gap);
		height: 100%;
		width: 100%;

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(var(--dt-col-span), 1fr);
		}
	}

	.lightbox__footer {
		gap: calc(.375 * var(--dt-gap)) var(--dt-gap);
		height: 100%;
		width: 100%;
	}

	.lightbox__exit {
		bottom: calc(.75 * var(--dt-button-size));
		height: fit-content;
		left: 0;
		margin-inline: auto;
		position: absolute;
		right: 0;
		width: fit-content;
		z-index: 80;
	}

	.lightbox__error {
		color: #F44336;
		font-size: calc(.625 * var(--base-font-size));
		font-style: italic;
		letter-spacing: calc(1.25 * var(--dt-letter-spacing));
		text-align: center;
	}

	.lightbox__icon {
		align-items: center;
		background: none;
		border: none;
		display: flex;
		font-family: sans-serif;
		font-size: var(--dt-button-size);
		font-weight: 400;
		justify-content: center;
		max-height: fit-content;
		max-width: fit-content;
		padding: 0;

		&,
		& > span {
			color: inherit;
			line-height: 1;
			position: relative;
			transform-origin: center;
		}

		& > span {
			display: block;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			opacity: .75;
			transition: var(--dt-transition-base);
		}

		&[data-icon*="close"] {
			font-weight: 600;
		}

		&::before,
		&::after {
			content: none;
		}

		&:focus,
		&:focus-visible,
		&:hover {
			& > span {
				opacity: 1;
				transform: scale(1.25);
				transition: var(--dt-transition-hover);
			}
		}

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}

	[disabled] {
		pointer-events: none;
		user-select: none;
	}
}
