
.lightbox__navigation {
	--dt-control-gutter: .125rem;
	--dt-button-size: 3rem;
	--dt-button-spacing: calc(var(--dt-control-gutter) + var(--dt-translate-lr-xs));

	display: flex;
	flex: 1 100%;
	justify-content: space-between;
	padding-top: var(--dt-gap);

	.lightbox__navitem {
		container-type: inline-size;
		display: flex;
		flex: 1 33%;
		max-width: 33%;
		width: 100%;

		&[data-direction="next"] {
			justify-content: flex-end;
			text-align: right;

			&:only-child {
				margin-left: auto;
			}

			.lightbox__control,
			.lightbox__icon {
				&,
				& > span {
					transform-origin: right center;
				}
			}

			.lightbox__icon {
				margin-right: calc(-1 * var(--dt-control-gutter));
			}

			.lightbox__label {
				padding-right: var(--dt-button-spacing);
				transform: var(--dt-translate-right-xs);
			}
		}

		&[data-direction="prev"] {
			justify-content: flex-start;
			text-align: left;

			&:only-child {
				margin-right: auto;
			}

			.lightbox__control,
			.lightbox__icon {
				&,
				& > span {
					transform-origin: left center;
				}
			}

			.lightbox__icon {
				margin-left: calc(-1 * var(--dt-control-gutter));
			}

			.lightbox__label {
				padding-left: var(--dt-button-spacing);
				transform: var(--dt-translate-left-xs);
			}
		}

		&:focus-within,
		&:hover {
			.lightbox__control,
			.lightbox__icon {
				& > span {
					transition: var(--dt-transition-hover);
				}
			}

			.lightbox__label {
				opacity: .5;
				transform: var(--dt-translate-base);
			}
		}
	}

	.lightbox__control {
		align-items: center;
		display: flex;
        flex: 1 100%;
		height: 100%;
		max-height: calc(.375 * var(--dt-button-size));
		max-width: fit-content;
		padding: 0;
		position: relative;

		&:focus-within,
		&:hover {
			cursor: pointer;

			.lightbox__icon > span {
				opacity: 1;
				transform: scale(1.25);
			}

			.lightbox__label {
				font-style: italic;
			}
		}
	}

	.lightbox__icon {
	    margin-bottom: .125rem;
	}

	.lightbox__label {
		display: block;
		font-size: var(--dt-label-font-size);
		height: 100%;
		letter-spacing: var(--dt-label-letter-spacing);
		opacity: 0;
		overflow-x: visible;
		position: relative;
		text-transform: uppercase;
		transition: var(--dt-transition-base);
		white-space: nowrap;
	}
}


.lightbox {
	&:has(.lightbox__content:empty) .lightbox__navigation {
		padding-top: 0;
	}

	&:is([data-disabled="true"]) {
		.lightbox__navitem,
		.lightbox__control {
			pointer-events: none;
			user-select: none;
		}

		/* .lightbox__navitem:is(:focus-within, :hover) {
			&[data-direction="next"] .lightbox__label {
				transform: var(--dt-translate-right-xs);
			}

			&[data-direction="prev"] .lightbox__label {
				transform: var(--dt-translate-left-xs);
			}

			.lightbox__control,
			.lightbox__icon {
				& > span {
					transition: var(--dt-transition-base);
				}
			}

			.lightbox__label {
				font-style: normal;
				opacity: 0;
			}
		}

		.lightbox__control:is(:focus-within, :hover) {
			cursor: default;

			.lightbox__icon > span {
				background-color: var(--siteBackgroundColor);
				opacity: .75;
				transform: scale(1);
			}
		} */
	}
}
