
.lightbox {
	&:is([data-disabled="false"]) {
		.lightbox__control,
		.lightbox__icon {
			& > span {
				cursor: pointer;
			}
		}
	}

	&:is([data-disabled="true"]) {
		.lightbox__navigation {
			pointer-events: none;
			user-select: none;
		}
	}

	/* &:not([data-state="change"]) {
		.lightbox__control {
			&:hover .lightbox__label {
				opacity: .5;
				transform: var(--dt-fade-base);
				transition: var(--dt-transition-base);
			}

			&:has(> :is(button, span):hover) {
				.lightbox__icon > span {
					opacity: 1;
					transform: scale(1.12);
				}

				.lightbox__label {
					font-style: italic;
				}
			}
		}
	} */

	&:is([data-state="change"]) {
		.lightbox__control {
			&:hover {
				&[data-direction="next"] .lightbox__label {
					transform: var(--dt-fade-right);
				}

				&[data-direction="prev"] .lightbox__label {
					transform: var(--dt-fade-left);
				}

				.lightbox__label {
					font-style: normal;
					opacity: 0;
				}
			}

			&:has(> :is(button, span):hover) {
				.lightbox__icon > span {
					background-color: var(--siteBackgroundColor);
					font-size: var(--dt-button-size);
					opacity: .75;
				}
			}
		}
	}

	.lightbox__navigation {
		--dt-button-size: 3rem;

		display: flex;
		flex: 1 100%;
		justify-content: space-between;
		padding-top: calc(.5 * var(--dt-gap));
	}

	.lightbox__control,
	.lightbox__icon {
		align-items: center;
		display: flex;
		padding: 0;
		position: relative;
		z-index: 5;

		&[data-direction="next"],
		&[data-icon*="next"] {
			justify-content: flex-end;

			&,
			& > span {
				text-align: right;
				transform-origin: right center;
			}
		}

		&[data-direction="prev"],
		&[data-icon*="prev"] {
			justify-content: flex-start;

			&,
			& > span {
				text-align: left;
				transform-origin: left center;
			}
		}

		& > span {
			display: block;
			height: 100%;
            line-height: var(--dt-button-size);
			position: relative;
			transition: var(--dt-transition-base);
			z-index: 3;
		}

		&:hover > span {
			transition: var(--dt-transition-hover);
		}
	}

	.lightbox__control {
		--dt-transition-base: opacity .35s var(--ease-in-out-quad) .11s,
					transform .25s var(--ease-in-out-quad) .055s;
		--dt-transition-hover: opacity .25s var(--ease-in-out-quad) .055s,
					transform .35s var(--ease-in-out-quad) .11s;

		container-type: size;
        flex: 1 1 100%;
		height: var(--dt-button-size);
		max-width: 33%;

		&[data-direction="next"] {
			&:only-child {
				margin-left: auto;
			}

			.lightbox__label {
				padding-right: var(--dt-cqw-base);
				transform: var(--dt-fade-right);
			}
		}

		&[data-direction="prev"] {
			&:only-child {
				margin-right: auto;
			}

			.lightbox__label {
				padding-left: var(--dt-cqw-base);
				transform: var(--dt-fade-left);
			}
		}

		&:hover .lightbox__label {
			opacity: .5;
			transform: var(--dt-fade-base);
		}

		&:has(> :is(button, span):hover) {
			.lightbox__icon > span {
				opacity: 1;
				transform: scale(1.12);
			}

			.lightbox__label {
				font-style: italic;
			}
		}
	}

	.lightbox__icon {
		background: none;
		border: none;
		color: inherit;
		max-width: fit-content;
		opacity: 0;

		&[data-icon*="close"] {
			display: none;
			position: absolute;
			right: .875rem;
            top: .5rem;
		}

		&::before,
		&::after {
			content: none;
		}

		& > span {
			background-color: var(--siteBackgroundColor);
			font-size: var(--dt-button-size);
			opacity: .75;
		}
	}

	.lightbox__label {
		font-size: calc(.625 * var(--base-font-size));
		letter-spacing: calc(1.5 * var(--dt-letter-spacing));
		margin-top: .25rem;
		opacity: 0;
		overflow-x: visible;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
