
.lightbox__navigation {
	--dt-button-size: 3rem;
	--dt-transition-base: opacity .35s var(--ease-in-out-quad) .11s,
				transform .25s var(--ease-in-out-quad) .055s;
	--dt-transition-hover: opacity .25s var(--ease-in-out-quad) .055s,
				transform .35s var(--ease-in-out-quad) .11s;

	display: flex;
	flex: 1 100%;
	justify-content: space-between;
	padding-top: calc(.5 * var(--dt-gap));

	.lightbox__navitem {
		container-type: inline-size;
		display: flex;
		flex: 1 33%;
		max-width: 33%;
		width: 100%;

		&[data-direction="next"] {
			justify-content: flex-end;
			text-align: right;

			&:only-child {
				margin-left: auto;
			}

			.lightbox__control,
			.lightbox__icon {
				&,
				& > span {
					transform-origin: right center;
				}
			}

			.lightbox__label {
				padding-right: var(--dt-cqw-base);
				transform: var(--dt-fade-right);
			}
		}

		&[data-direction="prev"] {
			justify-content: flex-start;
			text-align: left;

			&:only-child {
				margin-right: auto;
			}

			.lightbox__control,
			.lightbox__icon {
				&,
				& > span {
					transform-origin: left center;
				}
			}

			.lightbox__label {
				padding-left: var(--dt-cqw-base);
				transform: var(--dt-fade-left);
			}
		}

		.lightbox__control,
		.lightbox__icon {
			& > span {
				transition: var(--dt-transition-base);
			}
		}

		&:hover {
			.lightbox__control,
			.lightbox__icon {
				& > span {
					transition: var(--dt-transition-hover);
				}
			}

			.lightbox__label {
				opacity: .5;
				transform: var(--dt-fade-base);
			}
		}
	}

	.lightbox__control,
	.lightbox__icon {
		align-items: center;
		display: flex;
		max-width: fit-content;
		padding: 0;
		position: relative;
		z-index: 5;

		& > span {
			display: block;
			height: 100%;
            line-height: var(--dt-button-size);
			position: relative;
			z-index: 3;
		}
	}

	.lightbox__control {
        flex: 1 100%;
		height: var(--dt-button-size);

		&:hover {
			cursor: pointer;

			.lightbox__icon > span {
				opacity: 1;
				transform: scale(1.12);
			}

			.lightbox__label {
				font-style: italic;
			}
		}
	}

	.lightbox__icon {
		background: none;
		border: none;
		color: inherit;

		&[data-icon*="close"] {
			display: none;
			position: absolute;
			right: .875rem;
            top: .5rem;
		}

		&::before,
		&::after {
			content: none;
		}

		& > span {
			background-color: var(--siteBackgroundColor);
			font-size: var(--dt-button-size);
			opacity: .75;
		}
	}

	.lightbox__label {
		font-size: calc(.625 * var(--base-font-size));
		letter-spacing: calc(1.5 * var(--dt-letter-spacing));
		margin-top: .25rem;
		opacity: 0;
		overflow-x: visible;
		text-transform: uppercase;
		white-space: nowrap;
	}
}


.lightbox {
	&:is([data-disabled="true"]) {
		.lightbox__navitem,
		.lightbox__control {
			pointer-events: none;
			user-select: none;
		}

		.lightbox__navitem:hover {
			&[data-direction="next"] .lightbox__label {
				transform: var(--dt-fade-right);
			}

			&[data-direction="prev"] .lightbox__label {
				transform: var(--dt-fade-left);
			}

			.lightbox__control,
			.lightbox__icon {
				& > span {
					transition: var(--dt-transition-base);
				}
			}

			.lightbox__label {
				font-style: normal;
				opacity: 0;
			}
		}

		.lightbox__control:hover {
			cursor: default;

			.lightbox__icon > span {
				background-color: var(--siteBackgroundColor);
				font-size: var(--dt-button-size);
				opacity: .75;
			}
		}
	}
}
