
.content .fe-block {
	opacity: 0;
	position: relative;

	&:is([data-disabled="true"]) {
		pointer-events: none;
		user-select: none;
	}

	&.header-block {
		opacity: .9;
	}

	&.template-block {
		animation-fill-mode: forwards;
		animation-name: fadeIn;
		animation-timing-function: var(--ease-in-sine);
	}
}
