
:root {
	--ease-in-cubic: cubic-bezier(.32, 0, .67, 0);
	--ease-in-quad: cubic-bezier(.11, 0, .5, 0);
	--ease-in-quart: cubic-bezier(.5, 0, .75, 0);
	--ease-in-sine: cubic-bezier(.12, 0, .39, 0);

	--ease-out-cubic: cubic-bezier(.33, 1, .68, 1);
	--ease-out-quad: cubic-bezier(.5, 1, .89, 1);
	--ease-out-quart: cubic-bezier(.25, 1, .5, 1);
	--ease-out-sine: cubic-bezier(.61, 1, .88, 1);

	--ease-in-out-back: cubic-bezier(.34, 1.56, .64, 1);
	--ease-in-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
	--ease-in-out-quad: cubic-bezier(.45, 0, .55, 1);
	--ease-in-out-sine: cubic-bezier(.37, 0, .63, 1);


	--dt-border-radius: .375rem;
	--dt-button-size: 2rem;
	--dt-gap: 1.75rem;
	--dt-letter-spacing: .875px;
	--dt-media-size: 30vh;
	--dt-space-element: .75rem;

	--dt-label-font-size: calc(.625 * var(--base-font-size));
	--dt-label-letter-spacing: calc(1.5 * var(--dt-letter-spacing));


	--dt-cqh-base: 2.5cqw;
	--dt-cqw-base: 7.5cqw;


	--dt-fade-base: translate3d(0, 0, 0);
	--dt-fade-left-max: translate3d(100%, 0, 0);

	--dt-fade-down: translate3d(0, -2.5cqw, 0);
	--dt-fade-left: translate3d(-7.5cqw, 0, 0);
	--dt-fade-right: translate3d(7.5cqw, 0, 0);
	--dt-fade-up: translate3d(0, 2.5cqw, 0);


	--dt-transition-base: opacity .35s var(--ease-in-out-quad) .11s,
				transform .25s var(--ease-in-out-quad) .055s;
	--dt-transition-hover: opacity .25s var(--ease-in-out-quad) .055s,
				transform .35s var(--ease-in-out-quad) .11s;


	--dt-box-shadow: rgba(0, 0, 0, .25) 0px .0625em .0625em,
				rgba(0, 0, 0, .25) 0px .125em .5em,
				rgba(255, 255, 255, .1) 0px 0px 0px 1px inset;


	--dt-col-span: 1;

	@media screen and (min-width: 450px) and (max-width: 767px) {
		--dt-col-span: 2;
	}

	@media screen and (min-width: 768px) {
		--dt-col-span: 3;
		--dt-gap: 2.5rem;
		--dt-media-size: 40vh;
	}

	/* @media screen and (min-width: 1024px) {
		--dt-col-span: 4;
	} */
}


.fluid-engine,
.lightbox {
	--column-gap: 20px;
	--row-gap: 24px;
	--grid-gap: var(--row-gap) var(--column-gap);
	--num-columns: 24;
	--num-rows: 28;


	--grid-gutter: calc(var(--sqs-site-gutter, 4vw) - var(--column-gap));
	--cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (var(--column-gap) * (24 - 1))) / 24);
	--inset-padding: 0vw;
	--row-height-scaling-factor: .0215;
	--container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding)));

	/* display: grid;
	gap: var(--row-gap) var(--column-gap);
	grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(var(--num-columns), minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
	grid-template-rows: repeat(var(--num-rows), minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto)); */
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: var(--dt-fade-left);
	}

	65% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: var(--dt-fade-base);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: var(--dt-fade-right);
	}

	65% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: var(--dt-fade-base);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: var(--dt-fade-down);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: var(--dt-fade-base);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: var(--dt-fade-up);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: var(--dt-fade-base);
	}
}
