
.header .header-announcement-bar-wrapper {
	padding-block: 2vw 0vw;
}

.header-nav-item,
.header-nav-list,
.header-nav-wrapper {
	align-content: center;
	align-self: center;
	position: relative;
}

.header-nav[data-loading] {
	pointer-events: none;
	user-select: none;

	.header-nav-list::before {
		animation: fadeInLeft .5s var(--ease-in-sine) .75s forwards;
		opacity: 0;
		transform: var(--dt-fade-left);
	}
}

.header-nav-list {
	height: 100%;
	width: fit-content;

	&::before {
		color: hsl(var(--safeDarkAccent-hsl));
		content: 'Menu';
		display: inline-flex;
		flex-shrink: 0;
		font-family: var(--site-title-font-font-family);
		font-size: calc((var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem);
		font-weight: var(--site-title-font-font-weight);
        line-height: var(--site-navigation-font-line-height);
		margin-left: 1.8vw;
		order: 1;
		position: relative;
		transition: opacity .3s var(--ease-in-out-sine) .3s;
		width: min-content;
        vertical-align: middle;
		z-index: 10;
	}

	&:hover {
		&::before {
			opacity: .5;
			transition-delay: 0s;
		}
	}
}

.header-nav-item {
	--dt-nav-item-padding: .75rem;

	flex-shrink: 0;
	height: max-content;
	overflow: hidden;
	padding: .25rem var(--dt-nav-item-padding) .125rem;
	pointer-events: none;
	width: min-content;
	z-index: 25;

	&::after,
	& > a,
	& > a::after {
		transition-duration: .375s;
		transition-timing-function: var(--ease-out-quad);
	}

	&::after,
	& > a::after {
		display: block;
		opacity: .75;
		position: absolute;
		right: 0;
		transition-property: transform;
		width: 100%;
		z-index: 0;
	}

	&::after {
		background-color: hsl(var(--darkAccent-hsl));
		content: '';
		inset-block: 0;
		transform: var(--dt-fade-left-max);
	}

	& > a {
		color: hsl(var(--safeLightAccent-hsl)) !important;
		position: relative;
		transition-property: color;
		z-index: 5;

		&::after {
			background-color: currentColor;
			bottom: .5px;
			height: 1px;
			transform: translateX(0);
		}
	}

	&:hover {
		&::after,
		& > a,
		& > a::after {
			transition-timing-function: var(--ease-in-quad);
		}

		&::after {
			transform: var(--dt-fade-base);
		}

		& > a {
			color: hsl(var(--lightAccent-hsl)) !important;
		}
	}

	&.header-nav-item--active {
		& > a {
			background-image: none !important;
			position: relative;

			&::after {
				content: '';
			}
		}

		&:hover > a::after {
			transform: translateX(calc(100% + var(--dt-nav-item-padding)));
		}
	}
}


.header-nav-list {
	&:not(.header-nav--animated) {
		.header-nav-item {
			display: none !important;
			opacity: 0;
		}
	}

	&:is(.header-nav--animated) {
		.header-nav-item {
			animation-fill-mode: forwards;
			animation-name: fadeIn;
		}

		&:not(.header-nav--active) {
			.header-nav-item {
				animation-direction: reverse;
				animation-timing-function: var(--ease-out-sine);
				opacity: 1;
			}
		}

		&:is(.header-nav--active) {
			.header-nav-item {
				animation-direction: normal;
				animation-timing-function: var(--ease-in-sine);
				opacity: 0;
			}
		}
	}

	&:is(.header-nav--animated) {
		.header-nav-item {
			pointer-events: all;
		}
	}
}
